# File: env.nix
# Contains user-specific and machine-specific variables.
{
  # User-specific variables
  name = "Your Name";
  username = "your_username";
  homeDirectory = "/home/your_username";
  email = "your.email@example.com";

  # Machine-specific variables
  system = "x86_64-linux";
}
